.FeedPage {
    background-color: rgba($primary, 0.60);
}

.FeedSegment {
    width: 70%;
    margin: 0 auto !important;
    margin-bottom: 15px !important; 
}

.extra {
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 50%;
    }
}

img {

    width: 100% !important;
}

.date {
    color: $grey !important;
}

.SinglePostLink {
    display: block;
    margin-top: 10px;
}
    
