.FeedPage {
    background-color: rgba($secondary, 0.60);

    @media screen and (min-width: 769px) {
        
        margin-top: 80px !important;
    }
}

.FeedSegment {
   
    margin-bottom: 15px !important; 
}

.FeedPage__content {
    
    margin: 0 auto !important;

    @media screen and (min-width: 1050px) {
        
        margin-top: -80px !important;
    }
}

.FilterPosts {
    @media screen and (min-width: 769px) {
        
        position: fixed !important;
    }
}

.FilterPosts__row {
    height: 100px;
}

.extra {
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 50%;
    }
}

img {

    width: 100% !important;
}

.date {
    color: $grey !important;
}

.SinglePostLink {
    display: block;
    margin-top: 10px;
}
    
