.FeedPage {

   width: 100%;
   background-color: rgba($secondary, 0.60);

   @media screen and (min-width: 769px) {
       
        margin-top: 80px;
        padding-bottom: 15px;
   }

}

.FeedPage__segment {
   
    margin-bottom: 15px !important; 

    .extra {

        word-break: break-all;
    }
}

.FeedPage__content {
    
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    
    @media screen and (min-width: 769px) {
        
        width: 65%;
       padding-top: 30px;
    }
}

.FeedPage__filter {

    padding-top: 10px;

    @media screen and (min-width: 769px) {
        
        padding-top: 0;
        position: fixed !important;
        height: 100%;
    }
}

.Filter select {
    background-color: $alternate !important;
    color: $light !important;
}

.extra {

    width: 100%;

    @media screen and (min-width: 992px) {
        width: 50%;
    }
}

img {

    width: 100% !important;
}

.date {

    color: $grey !important;
}

.SinglePostLink {

    display: block;
    margin-top: 10px;
}
    
