@import '../base/variables';

.AppHeader {
    @media screen and (min-width: 769px) {
        
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.logout_btn {
    padding-left: 0 !important;
}
