.ProfilePage {

    width: 100%;
    margin: 0 !important;

   @media screen and (min-width: 769px) {
        
        margin-top: 70px !important;
    }
}

.ProfilePage__inner {

    margin-top: 60px;

    @media screen and (min-width: 769px) {
        
        margin-top: 30px;
    }
}

.ProfilePage__card {
    
    width: 80% !important;
    margin: 0 auto;

    @media screen and (min-width: 768px) {

        width: 50% !important;
    }

    @media screen and (min-width: 1400px) {

         width: 35% !important;
    }

    .description {

        word-break: break-all;
    }
}

.SingleUser__updateProfile {

    width: 30%;
    margin: 0 auto;
}

