.RegisterPage {
    background: url('../../img/getty_505125698_2000133320009280212_204216.jpg') center center no-repeat;
    background-size: cover;
}

.Register {
    background-color: rgba($alternate, 0.94);
}
