.SinglePostPage {

    position: relative;
    top: 20px;

    @media screen and (min-width: 769px) {
        top: 110px
    }
}

.SinglePostPage__segment {

    width: 90%;
    margin: 0 auto !important;
    margin-top: 30px !important;
    
    @media screen and (min-width: 769px) {
        
        width: 70%;
    }

    .extra {
        
        width: 100% !important;
        word-break: break-all;
        margin-top: 40px !important;
    }

    img {

        @media screen and (min-width: 992px) {
            width: 50% !important;
        }
    }   
}
