// .SinglePostPage {
//     background-color: rgba($secondary, 0.94) !important;
  
// }

.SinglePost {
    width: 70%;
    margin: 0 auto !important;
    margin-top: 20px !important;

    .extra {
        width: 100%;
    }
}