.UsersPage {

   background-color: rgba($secondary, 0.60);
}

.UsersPage__item {
    
    width: 100% !important;
    margin: 0 0 0 20px !important;
    
    @media screen and (min-width: 769px) {

        width: 70% !important;
        margin: 0 auto !important;
    }
  
    img {
        width: 100% !important;
    }

    .content {

        margin-left: 20px !important;
    }
}

.Search {

    margin-top: 20px !important;       
    margin-bottom: 50px !important;
}

.SearchBar {

    width: 80% !important;
    margin: 0 auto !important;

    @media screen and (min-width: 769px) {
        width: 70% !important;
    }
}

.UsersPage__date {

    background-color: $alternate !important;
}


